//contact
.contactMeForm {
    padding: 10rem 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

input, 
textarea {
    width: 500px;
    align-self: center;
    margin: 1rem 0;
    border: 2px solid $lightGrey;
    color: $red;
    font-size: 14px;
    font-family: $montserrat;
    padding: 1rem;
    transition: 1s ease-out;
}

input:focus,
textarea:focus {
    border-color: $red;
}

input {
    height: 3rem;
}

textarea {
    resize: none;
}

button {
    align-self: center;
    width: 150px;
    padding: 1rem 0;
    border: 2px solid $lightGrey;
    background-color: $white;
    font-family: $montserrat;
    color: $grey;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: .3s ease-out;
}

button:hover {
    border-color: $red;
    box-shadow: 5px 5px $lightGrey;
}

.contactMeEmail a {
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.contactMeEmail a:hover {
    color: $red;
}