@media (max-width: 1000px) {
    .mobileMenu {
        display: inline;
    }

    .menu nav {
        display: none;
    }
}

@media (max-width: 770px) {
    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 18px;
    }

    .lastName, .firstName {
        font-size: 90px;
    }

    .lastName {
        margin-left: 50px;
    }

    .aboutMeMain {
        flex-direction: column-reverse;
    }

    .aboutMeImg img {
        max-width: 300px;
    }

    .aboutMeMainProfile {
        text-align: center;
        margin-top: 5rem;
    }

    .project,
    .project.reverse {
        flex-direction: column;
    }

    .projectSymbol {
        width: 100%
    }

    .projectSymbol i{
        padding: 5rem;
    }

    .projectSymbol img {
        padding: 5rem 0;
    }

    input,
    textarea {
        width: 300px
    }

    footer > div {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (max-width: 430px) {
        h1 {
        font-size: 35px;
    }

        h3 {
        font-size: 18px;
    }

        .lastName, .firstName {
        font-size: 39px;
    }
    
        .lastName {
        margin-left: 15px;
    }
}